body, html{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Yusei Magic', sans-serif;
    color: #e9c46a;
    font-size: 2.2rem;
}

.container {
    width: 800px;
    margin: auto;
}


.banner-section {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2249&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}

.banner-content {
    content: "";
    text-align: center;
}

.banner h1 {
    margin: 0;
}

.banner p {
    font-size: 20px;
}

p.banner-text {
    opacity: .8;
    color: #ffffff;
}

.banner-btn {
    background-color: #e9c46a;
    color: white;
    padding: 16px 48px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

.banner-btn:hover {
    background-color: #c8553d;
    color: white;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container h2 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.card-item {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 200px;
    text-align: center;
    padding: 24px;
    margin: 8px;
}
  
.card-item img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}
  
.card-item h3 {
    margin-bottom: 0;
}

.card-item p {
    font-family: 'Montserrat', sans-serif;
    color: #3d5a80;
}

.card-btn {
    background-color: #e9c46a;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

.card-btn:hover {
    background-color: #c8553d;
    color: white;
}
  
.footer {
    background: #404042;
    text-align: center;
    padding: 24px 0;
}
  
.footer p {
    color: white;
    font-family: 'Yusei Magic', sans-serif;
}

@media (max-width: 800px) {
    .cards {
      grid-template-columns: 1fr;
    }
    
    .card-white {
      width: auto;
    }
  }
    
  /* Container media queries */
  @media (min-width: 500px) {
    .container {
      width: 400px;
    }
  }
  
  
  @media (min-width: 800px) {
    .container {
      width: 600px;
    }
  }
  
  @media (min-width: 1000px) {
    .container {
      width: 800px;
    }
}



